/* .wrapp{
    background-color: rgb(40, 35, 35);
    
    height: 730px;
    margin-top: -20px;
    z-index: -2;
} */
/* html{
    background-color: red;
} */
.con{
    background-color: rgb(36, 34, 38);
    height: 828px;
    padding-top:4px;
}